{% extends 'base.html.twig' %}

{% block body %}
    <h1>Redaguoti Kategoriją</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Išsaugoti" />
    {{ form_end(edit_form) }}

            <a class="btn btn-primary" href="{{ path('faq_index') }}">Atgal į sąrašą</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Trinti">
            {{ form_end(delete_form) }}

{% endblock %}
