{% extends 'base.html.twig' %}

{% block body %}
<h1>GenjFaqBundle</h1>
<p>
    Welcome to the GenjFaqBundle example template.
</p>

<h2>Categories</h2>

    <a href="{{ path('faq_new') }}">Nauja kategorija</a><br>

<ul>
    {% for category in categories %}
        <li>

            <a href="{{ path('faq_show', {'categorySlug': category.slug}) }}">{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>

{% if selectedCategory is not null %}
    <h2>Questions</h2>
    <ul>
        {% for question in questions %}
            {% if selectedQuestion.slug is defined and selectedQuestion.slug == question.slug%}
                <li class="active"  >
                    <div>{{ selectedQuestion.answer }}</div>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('faq_index', { 'categorySlug': selectedCategory.slug, 'questionSlug': question.slug }) }}"></a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock body %}
