{% extends 'base.html.twig' %}

{% block body %}
    <h2>Categories</h2>
<div id="categories">
    <div id="leftPane">
        {% tree category in categories %}
        {% if treeloop.first %}<ul id="categoryList">{% endif %}
            <li>
                {{ category.name }}
                {% subtree category.questions %}
            </li>
            {% if treeloop.last %}</ul>{% endif %}
        {% endtree %}
           {# {% for category in categories|sortbyfield('name') %}
                <li data-slug="{{ category.slug }}">
                    {{ category.name }}
                   {# <ul>
                        {% for question in category %}
                            <li>
                                {{ question.question }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>

        {% if selectedCategory is not null %}
            <h2>Questions</h2>
            <ul>
                {% for question in questions %}
                    {% if selectedQuestion.slug is defined and selectedQuestion.slug == question.slug%}
                        <li class="active"  >
                            <div>{{ selectedQuestion.answer }}</div>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('faq_index', { 'categorySlug': selectedCategory.slug, 'questionSlug': question.slug }) }}"></a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}#}

    </div>
    <div id="rightPane">

    </div>
</div>
{% endblock body %}

{% block javascripts %}

    <script>
        $(document).ready(function () {


            var splitter = $('#categories').height(600).split({
                orientation: 'vertical',
                limit: 200,
                position: '20%',
                onDrag: function (event) {
                    console.log(splitter.position);
                }
            });

           // var baseUrl = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
            $('#categoryList li').on('click', function () {
                var categorySlug = $(this).data('slug');
                //console.log(categorySlug);
                $('#rightPane').load('http://helper/category/'+categorySlug);
            });

        });
    </script>
{% endblock %}
