{% extends 'main.html.twig' %}

{% block body %}

    <table id="lenta">
        <tbody>
            <tr>
                <th>Question</th>
                <td>{{ question.question }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ question.answer }}</td>
            </tr>
        </tbody>
    </table>

       {# <li>
            <a href="{{ path('faq_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('faq_show', { 'categorySlug':question.categoryName.slug })}}">Back to category</a>
        </li>#}
        {% if is_granted('ROLE_MANAGER') %}

            <a href="{{ path('faq_edit_question', {'categorySlug': question.categoryName, 'questionSlug': question.slug }) }}">Edit</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}

        {% endif %}

{% endblock %}
