{% extends 'main.html.twig' %}

{% block body %}

    <h1 class="default" id="questionName">{{ question.question }}</h1>
    <div id="selectedAnswer" class="default">
        {{ question.answer }}

        <br>
        {% if is_granted('ROLE_MANAGER') %}

            <a class="btn btn-info"  style="margin-top: 10px" href="{{ path('faq_edit_question', {'categorySlug': question.categoryName, 'questionSlug': question.slug }) }}">Redaguoti</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Trinti" class="btn btn-danger"  style="margin-top: 10px">
            {{ form_end(delete_form) }}

        {% endif %}
    </div>
{% endblock %}
