{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vartotojo redagavimas</h1>
   {{ form_start(editUserForm) }}
        {{ form_widget(editUserForm) }}
    <input  class="btn btn-success"  style="margin-top: 10px" type="submit" value="Išsaugoti">
    {{ form_end(editUserForm) }}

         <a  class="btn btn-primary"  style="margin-top: 10px" href="{{ path('admin') }}">Atgal į sąrašą</a>

         {{ form_start(delete_form) }}
             <input  class="btn btn-danger"  style="margin-top: 10px" type="submit" value="Trinti">
         {{ form_end(delete_form) }}

{% endblock %}
