{% extends 'base.html.twig' %}

{% block body %}
    <h1>User edit</h1>
   {{ form_start(editUserForm) }}
        {{ form_widget(editUserForm) }}
    <input type="submit" value="Save">
    {{ form_end(editUserForm) }}

 <ul>
     <li>
         <a href="{{ path('admin') }}">Back to the list</a>
     </li>
     <li>
         {{ form_start(delete_form) }}
             <input type="submit" value="Delete">
         {{ form_end(delete_form) }}
     </li>
 </ul>
{% endblock %}
